{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!
{% endblock %}

{% block body %}

	<fieldset>
		<legend>Nous Contactez...</legend>


		<form action="/formulaire" method="post">
			<ul>
				<li>
					<label for="name">Nom&nbsp;:</label>
					<input type="text" id="name" name="user_name"/>
				</li>
				<li>
					<label for="prenom">Prénom&nbsp;:</label>
					<input type="text" id="name" name="user_name"/>
				</li>

				<li>
					<label for="mail">E-mail&nbsp;:</label>
					<input type="email" id="mail" name="user_mail"/>
				</li>

                <li>
					<label for="phone">Téléphone&nbsp;:</label>
					<input type="phone" id="phone" name="user_phone"/>
				</li>



				<li>
					<label for="message">message&nbsp;:</label>
					<textarea id="message" name="user_message"></textarea>
				</li>
			</ul>
		</form>
	</fieldset>

{% endblock %}
