
{% extends 'base.html.twig' %}

{% block title %}TP Maçon!{% endblock %}

{% block body %}

	
<body>

<div class="formulaire " style="display: flex; flex-direction: column; justify-content: center; margin: auto; width: fit-content">
    		{{ form_start(form) }}
			{# <button type="submit">Envoyer</button> #}
		{{ form_end(form) }}
            <button type="submit">Envoyer</button>
</div>



</body>
</html>


{% endblock %}
















